@font-face {
  font-family: "opensans";
  src: url("../fonts/open-sans/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/open-sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/open-sans/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/open-sans/opensans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #4c716f;
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
}
body,
html {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}
.backgroundimage {
  width: 60vh;
  display: flex;
}
.images {
  width: 99vw;
}
.images img {
  width: auto;
}
.left-side-images {
  position: relative;
  top: 0;
  left: 0;
}

.left-side-images img {
  float: left;
  width: auto;
}

.image-1 {
  position: relative;
  top: 0;
  left: 200px;
  height: 250px;
  border-radius: 20px;
}
.first-para {
  border-radius: 30px;
  background-size: auto;
  position: relative;
  top: 25px;
  margin-left: 400px;
  margin-right: 500px;
  padding-left: 10px;
  font-family: "opensans", Courier, monospace;
  font-size: 35px;
  left: 250px;
}
.image-3 {
  height: 300px;
  position: absolute;
  top: 800px;
  left: 0px;
}

.right-side-images img {
  float: right;
  width: auto;
}
.right-side-images {
  position: relative;
  top: 0;
  right: 0;
}
.left-side-images {
  position: relative;
  top: 0;
  right: 0;
}
.image-2 {
  height: 300px;
  position: absolute;
  top: 600px;
  right: 0px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.northland {
  cursor: pointer;
  display: block;
  height: 80px;
  width: 250px;
  text-decoration: none;
  background-color: rgb(244, 146, 17);
}

.northland,
.accomodation,
.contact-dropdown,
.contact,
.dropdown {
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
.northland:hover,
.accomodation:hover,
.contact-dropdown:hover,
.contact:hover {
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.northland:hover a,
.contact-dropdown:hover a,
.contact:hover a,
.accomodation:hover a {
  text-decoration: none;
}

.northland,
.accomodation,
.contact-dropdown {
  display: inline-block;
}

.accomodation {
  height: 80px;
  width: 250px;
  background-color: rgb(244, 146, 17);
}
.contact {
  height: 80px;
  width: 250px;
  background-color: rgb(244, 146, 17);
}
.contact-dropdown {
  height: 80px;
  width: 250px;
  background-color: rgb(244, 146, 17);
}
.contact:hover {
  cursor: pointer;
  display: block;
  height: 80px;
  width: 250px;
  text-decoration: none;
  background-color: rgb(244, 146, 17);
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.contact-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: rgb(248, 183, 98);
  min-width: 160px;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.contact-content:hover {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: rgb(248, 183, 98);
  min-width: 160px;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.contact-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 216px;
}
.filler-long {
  height: 300px;
}
.filler-short {
  height: 125px;
}
.contact-content a:hover {
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(253, 194, 116);
}

.dropdown:hover .contact-content {
  display: block;
  text-decoration: none;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar:hover {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu:nth-child(1) {
  transition-delay: 200ms;
}
.menu:nth-child(2) {
  transition-delay: 400ms;
}
.menu:nth-child(3) {
  transition-delay: 600ms;
}

.down-arrow {
  text-decoration: none;
  color: black;
}
.arrow-pulse-down:after {
  content: "🡣";
  position: relative;
  font-size: 35px;
  animation: arrow 1400ms alternate-reverse infinite;
}
@keyframes arrow {
  0% {
    bottom: 40px;
    opacity: 1;
  }
  100% {
    bottom: 20px;
    opacity: 1;
  }
}
